<!-- dashboard/_patients_list.html.erb -->

<% if patients.nil? %>
  <p>Unable to fetch patients.</p>
<% elsif patients.empty? %>
  <p>No patients found.</p>
<% else %>
  <table class="table table-sm text-center fw-semibold">
    <thead>
      <tr>
        <th>Name</th>
        <th>DOB</th>
        <th>Gender</th>
        <th>Contact</th>
        <th>Address</th>
        <th>FHIR Resource</th>
      </tr>
    </thead>
    <tbody>
      <% patients.each do |patient| %>
        <tr>
          <td><%= link_to patient.name, patient_path(patient.id) %></td>
          <td><%= patient.dob %></td>
          <td><%= patient.gender %></td>
          <td><%= patient.phone %></td>
          <td><%= patient.address %></td>
          <td>
            <%= link_to 'FHIR Resource', '#', data: { bs_toggle: 'modal', bs_target: "#fhir-resource-modal-#{patient.id}" } %>
            <% content_for :modals do %>
              <%= render 'shared/fhir_resource_modal', resource: patient %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

