<!-- dashboard/_patient_tabs.html.erb -->

<div class="card">
  <ul class="nav nav-tabs" id="patient-tab" role="tablist">
    <%# Add tab menu items here. %>
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="personal-characteristics-tab" data-bs-toggle="tab" href="#personal-characteristics" role="tab" aria-controls="personal-characteristics" aria-selected="true">Personal Characteristics</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="health-concerns-tab" data-bs-toggle="tab" href="#health-concerns" role="tab" aria-controls="health-concerns" aria-selected="false">Health Concerns</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="problems-tab" data-bs-toggle="tab" href="#problems" role="tab" aria-controls="problems" aria-selected="false">Problems</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="goals-tab" data-bs-toggle="tab" href="#goals" role="tab" aria-controls="goals" aria-selected="false">Goals</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="action-steps-tab" data-bs-toggle="tab" href="#action-steps" role="tab" aria-controls="action-steps" aria-selected="false">Action Steps</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="patient-tasks-tab" data-bs-toggle="tab" href="#patient-tasks" role="tab" aria-controls="patient-tasks" aria-selected="false">Patient Tasks</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="social-risks-tab" data-bs-toggle="tab" href="#social-risks" role="tab" aria-controls="social-risks" aria-selected="false">Social Risk Assessments</a>
    </li>
  </ul>
  <div class="tab-content" id="patient-tab-content">
    <%# Add tab content here, each wrapped in a div with the corresponding id %>
    <div class="tab-pane fade show active" id="personal-characteristics" role="tabpanel" aria-labelledby="personal-characteristics-tab">
      <%= render 'personal_characteristics', personal_characteristics: @personal_characteristics %>
    </div>
    <div class="tab-pane fade" id="health-concerns" role="tabpanel" aria-labelledby="health-concerns-tab">
      <%= render 'health_concerns', health_concerns: @health_concerns %>
    </div>
    <div class="tab-pane fade" id="problems" role="tabpanel" aria-labelledby="problems-tab">
      <%= render 'problems', problems: @problems %>
    </div>
    <div class="tab-pane fade" id="goals" role="tabpanel" aria-labelledby="goals-tab">
      <%= render 'goals', goals: @goals %>
    </div>
    <div class="tab-pane fade" id="action-steps" role="tabpanel" aria-labelledby="action-steps-tab">
      <%= render 'action_steps', action_steps: @action_steps %>
    </div>
    <div class="tab-pane fade" id="patient-tasks" role="tabpanel" aria-labelledby="patient-tasks-tab">
      <%= render 'patient_tasks', patient_tasks: @patient_tasks %>
    </div>
    <div class="tab-pane fade" id="social-risks" role="tabpanel" aria-labelledby="social-risks-tab">
      <%= render 'social_risks', social_risks: @social_risk_assessments %>
    </div>
  </div>
</div>
