<!-- dashboard/_patients.html.erb -->

<div class="tab-pane fade <%= 'show active' if active %>" id="<%= id %>" role="tabpanel" aria-labelledby="<%= id %>-tab">

  <div class="mx-3" id="patients-dashboard">
    <!-- Breadcrumb partial -->
    <%= render 'breadcrumb' %>

    <% if current_patient.nil? %>
      <!-- Patients list partial -->
      <%= render 'patients_list', patients: @patients %>
    <% else %>
      <!-- Single patient partial -->
      <%= render 'single_patient', patient: @current_patient %>
    <% end %>
  </div>

 </div>
