<!-- app/views/dashboard/_tab.html.erb -->

<li class="nav-item" role="presentation">
  <a class="nav-link <%= 'active' if active %>" id="<%= id %>-tab" data-bs-toggle="tab" href="#<%= id %>" role="tab" aria-controls="<%= id %>" aria-selected="<%= active %>">
    <%= label %>
  </a>
</li>
