<div class="modal fade" id="add-referral-modal" tabindex="-1" role="dialog" aria-labelledby="newRequestDialogTitle" aria-hidden="true" data-controller="taskform" data-taskform-request-options='<%= raw(request_options.to_json) %>'>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newRequestDialogTitle">New Service Request/Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with url: tasks_path, method: :post, id: "task-form", class: "form" do |f| %>
          <div class="mb-3">
            <%= f.label :category, "Category/Domain", class: "form-label" %>
            <%= f.select :category, category_options, { prompt: 'Select Category/Domain' }, { class: "form-select form-select-sm", id: "category-select", data: { taskform_target: "categorySelect" } } %>
          </div>
          <div class="mb-3">
            <%= f.label :code, "Request", class: "form-label" %>
            <%= f.select :request_code, {}, { prompt: 'Select Request' }, { class: "form-select form-select-sm", id: "request-select", disabled: true, data: { taskform_target: "requestSelect" } } %>
          </div>
          <div class="mb-3">
            <%= f.label :status, "Status", class: "form-label" %>
            <%= f.select :status, [["Draft", "draft"], ["Requested", "requested"]], {}, { class: "form-select form-select-sm", data: { taskform_target: "status" }} %>
          </div>
          <hr>
          <div class="form-group mb-3">
            <%= f.label :priority, "Priority", class: "form-label" %>
            <%= f.radio_button :priority, "routine", {class: "form-check-input", data: { taskform_target: "priority" }} %> Routine
            <%= f.radio_button :priority, "urgent", {class: "form-check-input", data: { taskform_target: "priority" }} %> Urgent
            <%= f.radio_button :priority, "asap", {class: "form-check-input", data: { taskform_target: "priority" }} %> ASAP
          </div>
          <div class="mb-3">
            <%= f.label :occurrence, "Occurrence", class: "form-label" %>
            <%= f.select :occurrence, [["Until", "until"], ["From...to", "range"]], {}, { class: "form-select form-select-sm", data: { taskform_target: "occurrence" } } %>
            <%= f.date_field :occurrence, class: "form-control", data: { taskform_target: "occurrenceDate" } %>
          </div>
          <div class="mb-3">
            <%= f.label :condition_ids, "Problem", class: "form-label" %>
            <%= f.select :condition_ids, condition_options,  { prompt: 'Select Problem' }, { class: "form-select form-select-sm", data: { taskform_target: "condition" }} %>
          </div>
          <div class="mb-3">
            <%= f.label :goal_ids, "Goal", class: "form-label" %>
            <%= f.select :goal_ids, goal_options,  { prompt: 'Select Goal' }, { class: "form-select", data: { taskform_target: "goal" } } %>
          </div>
                    <hr>
          <div class="mb-3">
            <%= f.label :performer_id, "Performer", class: "form-label" %>
            <%= f.collection_select :performer_id, organizations, :id, :name, { prompt: 'Select Performer' }, { class: "form-select", data: { taskform_target: "performer" } } %>
          </div>
          <div class="mb-3">
            <%= f.label :consent, "Consent", class: "form-label" %>
            <%= f.collection_select :consent, consents, :id, :code, { prompt: 'Select Consent' }, { class: "form-select", data: { taskform_target: "consent" } } %>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <%= f.submit "Create & Send", class: "btn btn-primary",  data: { taskform_target: "submitButton" } %>
      </div>
      <% end %>
    </div>
  </div>
</div>








