<div id="referral-procedure-modal-<%= resource.id %>" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Outcome</h5></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Procedure/<%= resource.id %></h6>
          </div>
          <div class="card-body">
            <div class="label-value">
              <span class="fw-semibold">Code:</span>
              <span class="small-text"><%= resource.description %></span>
            </div>
            <div class="label-value">
              <span class="fw-semibold">Category:</span>
              <span class="small-text"><%= resource.category%></span>
            </div>
            <div class="label-value">
              <span class="fw-semibold">Status:</span>
              <span class="small-text"><%= resource.status %></span>
            </div>
            <div class="label-value">
              <span class="fw-semibold">Performed Date:</span>
              <span class="small-text"><%= resource.performed_date.to_date %></span>
            </div>
            <div class="label-value">
              <span class="fw-semibold">Addresses:</span>
              <span class="small-text">Condition/<%= resource.problem&.id %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
