<div class="modal fade" id="add-patient-tasks-modal" tabindex="-1" role="dialog" aria-labelledby="newRequestDialogTitle" aria-hidden="true" data-controller="patient_tasks">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newRequestDialogTitle">Add Questionnaire Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with url: patient_tasks_path, method: :post, id: "patient-task-form", class: "form", remote: true do |f| %>

          <div class="mb-3">
            <%= f.label :questionnaire, "Questionnaire", class: "form-label" %>
            <%= f.select :questionnaire, questionnaire_options || [], { prompt: 'Select Questionnaire' }, { class: "form-select form-select-sm", id: "questionnaire-select" } %>
          </div>

          <div class="mb-3">
            <%= f.label :status, "Status", class: "form-label" %>
            <%= f.select :status, 
              [
                ["Ready", "ready"], 
                ["In Progress", "in-progress"],
                ["Completed", "completed"], 
                ["Cancelled", "cancelled"], 
                ["On Hold", "on-hold"], 
                ["Failed", "failed"], 
                ["Entered In Error", "entered-in-error"]
              ], 
              { prompt: 'Select Status' }, { class: "form-select form-select-sm"} %>
          </div>
          
          <div class="mb-3">
            <%= f.label :priority, "Priority", class: "form-label" %>
            <%= f.select :priority, [["Routine", "routine"],["Urgent", "urgent"]], { prompt: 'Select Priority' }, { class: "form-select form-select-sm", id: "priority-select" } %>
          </div>
          
          

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <%= f.submit "Create & Send", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
















